.error-text {
  color: red;
}

.blog-creation-form {
  .error-input {
    border-bottom: 1px solid red !important;
  }

  .btn-flat:disabled {
    cursor: not-allowed;
    background-color: #00968860 !important
  }
}

.form-element {
  margin: 10px 0px;
}